@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 146 40% 98%;
    --foreground: 146 53% 2%;
    --muted: 116 32% 90%;
    --muted-foreground: 116 7% 37%;
    --popover: 146 40% 98%;
    --popover-foreground: 146 53% 2%;
    --card: 146 40% 98%;
    --card-foreground: 146 53% 2%;
    --border: 146 3% 93%;
    --input: 146 3% 93%;
    --primary: 146 52% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 116 52% 40%;
    --secondary-foreground: 0 0% 100%;
    --accent: 176 52% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 92% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 146 52% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 146 47% 2%;
    --foreground: 146 15% 98%;
    --muted: 116 32% 10%;
    --muted-foreground: 116 7% 63%;
    --popover: 146 47% 2%;
    --popover-foreground: 146 15% 98%;
    --card: 146 47% 2%;
    --card-foreground: 146 15% 98%;
    --border: 146 3% 12%;
    --input: 146 3% 12%;
    --primary: 146 52% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 116 52% 40%;
    --secondary-foreground: 0 0% 100%;
    --accent: 176 52% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 92% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 146 52% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .completion-button-background {
    background-color: rgb(225, 29, 72);
    background-image: radial-gradient(at 44.08% 5.33%, rgb(234, 88, 12) 0, transparent 35%),
      radial-gradient(at 80% 84%, rgb(251, 207, 232) 0, transparent 35%),
      radial-gradient(at 92% 40%, rgb(74, 222, 128) 0, transparent 99%),
      radial-gradient(at 2% 22%, rgb(126, 34, 206) 0, transparent 30%),
      radial-gradient(at 93% 13%, rgb(254, 240, 138) 0, transparent 37%),
      radial-gradient(at 7% 59%, rgb(250, 204, 21) 0, transparent 52%);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1aa;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #52525b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}
